{% extends "paragraph.html.twig" %}

{% block content %}
    <div class="hero-wrapper">
    <div class="hero-content-wrapper">
      <div class="hero-content">
        <div class="subtitle">
          {{ content.field_subtitle|render|trim|raw }}
        </div>
        <h1>
          {{ content.field_title|render|trim|raw }}
        </h1>
        <div class="text">
          {{ content.field_text_plain }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
