html {
  background-color: $viewport-background-color;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: auto;
  overflow-x: hidden;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  max-width: $max-screen;
}

// Layout Helpers
#header,
#footer,
.mission,
.breadcrumb,
.node {
  clear: both;
}

body.toolbar-vertical #toolbar-administration {
  display: none;
}


main {

  .layout-content {

    > div {

      body.path-user &,
      body.path-404 &,
      body.path-403 &,
      body.path-webform &,
      body.path-forum & {
        padding-top: em(140);
        @media all and (min-width: em($template-desktop)) {
          padding-top: em(220);
        }
      }
    }
  }
}

#block-een-breadcrumbs,
#block-een-info-popup {
  display: none;
}

.toolbar-tray-open.toolbar-vertical.toolbar-fixed {
  margin-inline-start: 0 !important;
}

@media all and (max-width: em($template-desktop - 1)) {
  body.navigation-expanded {
    position: fixed;
    overflow-y: hidden;
  }
}
