.nav--footer {
  padding: em(32) 0;

  @media all and (min-width: em($template-tablet)) {
    padding: 0;
  }

  nav {

    > ul {
      display: flex;
      flex-direction: column;
      align-items: center;

      @media all and (min-width: em($template-tablet)) {
        align-items: flex-start;
      }

      > li {

        > a {
          text-align: center;
          color: $white;
          font-size: rem(18);
          line-height: em(24, 16);
          margin-bottom: 0;
          font-weight: 700;
        }
      }
    }
  }
}
