#block-een-site-branding {

  > a {
    width: em(100);
    height: em(100);
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (min-width: em($template-tablet)) {
      margin-left: em(20);
      margin-right: em(20);
    }

    @media all and (min-width: em($template-desktop)) {
      width: em(120);
      height: em(120);
    }

    img {
      display: block;
      width: 100%;
      max-width: em(47);
      height: auto;

      @media all and (min-width: em($template-desktop)) {
        max-width: em(55);
      }
    }
  }
}
