.block-system-branding-block {

  > a {
    width: em(90);
    height: em(90);
    display: flex;
    justify-content: center;
    align-items: center;

    @media all and (min-width: em($template-desktop)) {
      width: em(120);
      height: em(120);
    }

    @media all and (min-width: em($template-desktop + 200)) {
      margin-left: em(20);
      margin-right: em(20);
    }

    img {
      display: block;
      width: 100%;
      max-width: em(47);
      height: auto;

      @media all and (min-width: em($template-desktop)) {
        max-width: em(55);
      }
    }
  }
}
