#block-een-views-block-forum-block-recent-forum-posts {
  padding-bottom: em(64);
  @media all and (min-width: em($template-desktop)) {
    padding-bottom: em(128);
  }

  > h2 {
    $fz: 31;
    line-height: em(40, $fz);
    margin-bottom: em(15, $fz);
    font-size: em($fz);
  }

  > div {
    margin-top: em(20);
    padding: em(30) em(30) em(35);
    background-color: $white;

    .view-header {
      $fz: 13;
      line-height: em(20, $fz);
      margin-bottom: em(32, $fz);
      font-size: em($fz);
      text-transform: uppercase;
      color: #757575;
    }

    .view__content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: em(10);

      .views-row {
        border-bottom: em(1) solid #f5f5f5;
        padding: em(10) 0;
        &:last-child {
          border-bottom: 0;
        }
      }
    }

    .read-more-link {
      margin-top: em(30);
    }
  }
}
