nav#block-een-footer {
  padding-bottom: em(16);

  @media all and (min-width: em($template-tablet)) {
    display: flex;
    justify-content: center;
  }

  > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: em(20) em(30);

    > li {

      > a {
        text-align: center;
        color: $white;
        font-size: rem(16);
        letter-spacing: em(.48, 16);
        line-height: em(24, 16);
        margin-bottom: 0;
        font-weight: 700;
        transition: text-shadow .1s linear;

        &:hover, &:focus {
          text-shadow: em(.3) em(.3) em(.3) $white;
        }
      }
    }
  }
}
