.block-local-tasks-block {
  width: 200px !important;

  &.position-left {
    body.gin--horizontal-toolbar & {
      left: -170px;
    }
  }

  body.user-form &,
  body.path-webform & {
    @include container();
    margin-bottom: em(30);
  }
}
