.block-local-tasks-block {
  &.position-left {
    body.gin--horizontal-toolbar.user-form & {
      left: -170px;
      width: 200px !important;
    }
  }

  body.user-form &,
  body.path-webform & {
    @include container();
    margin-bottom: em(30);
  }
}
