header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  body.path-user &,
  body.path-webform &,
  body.path-404 &,
  body.path-403 &,
  body.path-forum &,
  body.not-hero &,
  body.path-news &,
  body.path-events &,
  body.path-taxonomy & {
    &:before {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -2;
      left: 0;
      top: 0;
      background-image: url("/themes/custom/een/assets/src/img/pattern-lines.webp");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      left: 0;
      top: 0;
      background: rgba(24, 64, 41, 0.97);
    }
  }

  @media all and (min-width: em(976)) {
    body.toolbar-horizontal.sticky-header & {
      top: em(53, 16) !important;
    }
  }

  body.sticky-header & {
    position: fixed;
    background-color: $secondary-color;
  }

  .sticky-header {

    .region-header-wrapper {
      @include container();
      padding-top: em(15);
      padding-bottom: em(15);
      height: em(120);
      position: relative;

      body.sticky-header:not(.navigation-expanded) & {
        height: em(105);
        padding-top: em(7.5);
        padding-bottom: em(7.5);
      }

      @media all and (min-width: em($template-tablet)) {
        padding-top: em(15);
        padding-bottom: em(15);
        body.sticky-header:not(.navigation-expanded) & {
          padding-top: em(7.5);
          padding-bottom: em(7.5);
        }
      }

      @media all and (min-width: em($template-desktop)) {
        height: em(145);
        padding-top: em(7.5);
        padding-bottom: em(7.5);
        transition: all .5s;

        body.sticky-header:not(.navigation-expanded) & {
          height: em(110);
        }
      }

      > .region-header {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: em(20);

        @media all and (min-width: em($template-desktop)) {
          height: em(96);
          transition: all .5s;

          body:not(.sticky-header) & {
            height: em(130);
          }

          > .block-system-branding-block {
            display: none;
          }
        }

        @media all and (max-width: em($template-desktop - 1)) {
          flex-direction: column;
          margin: 0;
          gap: em(20);

          body.navigation-expanded & {

            &:after {
              display: block;
              content: "";
              position: fixed;
              left: 0;
              top: 0;
              width: 100dvw;
              height: 100dvh;
              background-color: rgb(0, 0, 0, 0.3);
              z-index: 0;
            }
          }
        }

        > .nav-con {
          display: flex;
          justify-content: flex-start;
          align-items: center;

          @media all and (max-width: em($template-desktop - 1)) {
            flex-direction: column;
            align-items: flex-start;
            background-color: $secondary-color;
            width: 0;
            height: 100vh;
            top:0;
            right: 0;
            pointer-events: none;
            transition: transform .5s linear, width .5s linear;
            z-index: 1;
            padding-top: em(80);
            padding-right: em(20);
            padding-left: em(20);
            gap: em(20);
            position: fixed;
            transform: translateX(calc(100vw + #{em(100)}));
            overflow: hidden;

            body.navigation-expanded & {
              transform: translateX(0);
              pointer-events: auto;
              width: 80vw;
            }

            > .block-system-branding-block {
              display: none;
            }
          }

          @media all and (min-width: em($template-desktop)) {
            min-width: 100%;
            justify-content: space-between;

            nav#block-een-main-navigation-left {
              width: 100%;

              > ul {
                display: flex;
                justify-content: flex-end;
              }
            }
            nav#block-een-main-navigation-right {
              width: 100%;

              > ul {
                display: flex;
                justify-content: flex-start;
              }
            }

            nav#block-een-user-account-menu {
              position: absolute;
              right: em(40);

              > ul {
                display: flex;
                justify-content: flex-start;
              }
            }
          }

          @media all and (min-width: em($template-desktop + 300)) {
            nav#block-een-user-account-menu {
              right: 0;
            }
          }
        }
      }
    }
  }
}

a.mn {
  position: absolute;
  right: em(14);

  @media all and (min-width: em($template-tablet)) {
    right: em(40);
  }

  &.mn__icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 23;
    width: em(52);
    height: em(32);
    padding: em(8) em(14);

    .hamburger-slice {
      height: em(2);
      width: em(22);
      background-color: $white;
      transition: all .3s ease-in-out;
    }

    &.open-menu {
      position: absolute;

      .hamburger-slice {

        &__one {
          transform: translateY(#{em(6)}) rotate(45deg);
        }

        &__two {
          opacity: 0;
          height: 0;
        }

        &__three {
          transform: translateY(#{em(-8)}) rotate(-45deg);
        }
      }
    }

    @media all and (min-width: em($template-desktop)) {
      display: none;
    }
  }
}
