article.node--type-page {

  &.node--view-mode-full {

    &.not-hero {

      > .node__header {
        @include container();
        padding-top: em(140);
        padding-bottom: em(16);

        @media all and (min-width: em($template-desktop)) {
          padding-top: em(220);
          padding-bottom: em(16);
        }
      }
    }
  }
}
