article.node--type-page {

  &.node--view-mode-full {

    &.not-hero {

      > .node__header {
        @include container();
        padding-top: em(140);
        padding-bottom: em(16);

        @media all and (min-width: em($template-desktop)) {
          padding-top: em(220);
          padding-bottom: em(16);
        }
      }
    }
  }
}

article:not(.node--type-page):not(.node--type-forum) {

  &.node--view-mode-full {

    > .node__header {
      @include container();
      padding-top: em(140);
      padding-bottom: em(16);

      @media all and (min-width: em($template-desktop)) {
        padding-top: em(220);
        padding-bottom: em(16);
      }
    }

    > footer {
      @include container();
      margin-bottom: em(16);
    }
  }
}

article.node--type-forum {

  &.node--view-mode-full {

    > .node__header {
      @include container();
      padding-top: em(140);
      padding-bottom: em(16);

      @media all and (min-width: em($template-desktop)) {
        padding-top: em(220);
        padding-bottom: em(16);
      }
    }

    > footer {
      @include container();
      margin-bottom: em(16);
    }

    > div {
      @include container();
      padding-bottom: em(64);

      @media all and (min-width: em($template-desktop)) {
        padding-bottom: em(128);
      }
    }
  }
}
