.paragraph--type--attached-document {

  .field--name-field-media-document {

    span.file {
      padding-left: em(25);

      > a {
        $fz: 18;
        font-size: rem($fz);
        line-height: em(30, $fz);
        font-weight: 500;
        color: #696a69;
        transition: color .3s linear;

        &:hover, &:focus {
          color: $secondary-color;
        }
      }
    }
  }
}
