.paragraph--type--heading {

  .additional-title {
    letter-spacing: em(4.96);
    color: $dark-blue;
    margin-bottom: em(10);
  }

  h2 {
    color: $secondary-color;
    font-weight: 500;
    margin-bottom: .5em;
  }

  h3 {
    color: $secondary-color;
    margin-bottom: .5em;
  }

  h4 {
    color: $secondary-color;
    margin-bottom: .5em;
  }

  h5 {
    margin-bottom: .5em;
  }

  h6 {
    margin-bottom: .5em;
  }
}
