.paragraph--type--link {

  a {

    &.link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 900;
      text-transform: uppercase;
      color: $action-color;
      transition: text-shadow .1s linear;

      &:after {
        display: inline;
        content: "\00a0→";
        position: relative;
        left: 0;
        transition: left .15s linear;
      }

      &:hover, &:focus {
        text-shadow: em(.3) em(.3) em(.3) $action-color;
        &:after {
          left: em(5, 14);
        }
      }
    }
  }
}
