// Tabs.
ul.tabs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: em(5);

  li {
    display: inline-block;
  }

  a {
    display: block;
    background-color: $action-color;
    border: em(1, 14) solid $action-color;
    border-bottom: 0;
    border-radius: em(2, 14) em(2, 14) 0 0;
    padding: em(5, 14) em(15, 14);
    color: #ffffff;
    transition: all .3s linear;
    font-size: rem(14);

    &:hover {
      background-color: $black;
      border-color: $black;
    }
  }
}
