.view--news {

  &.teaser {

    > .view__content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: em(20);

      @media all and (min-width: em($template-tablet)) {
        grid-template-columns: repeat(2, 1fr);

        .views-row {
          height: 100%;
        }
      }

      @media all and (min-width: em($template-desktop)) {
        gap: em(40);
      }
    }
  }

  &.full {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: em(20);
    margin-top: em(50);

    @media all and (min-width: em($template-desktop)) {
      margin-top: em(100);
    }

    nav.pager {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    > .view__content {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: em(20);

      @media all and (min-width: em($template-tablet)) {
        grid-template-columns: repeat(2, [col-start] 1fr);

        .views-row {
          height: 100%;
        }
      }

      @media all and (min-width: em($template-desktop)) {
        grid-template-columns: repeat(3, [col-start] 1fr);
      }
    }

    @media all and (min-width: em($template-desktop)) {
      gap: em(40);
    }
  }
}
