{% extends "user.html.twig" %}

{% block content %}
  {% set user_name = content.field_name.0['#context'].value %}
  {% set user_surname = content.field_surname.0['#context'].value %}
  <div class="user-full-name">
    {{ user_name|raw }}&nbsp;{{ user_surname|raw }}
  </div>
{% endblock %}
