@use "sass:math";

@function rem($font-size, $rem-base: 16) {
  @return math.div($font-size, $rem-base) *1rem;
}

@function em($pixels, $context: $base-font-size) {
  @return #{math.div($pixels, $context)}em;
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }

  > h4 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin hide-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

@mixin outbreak {
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  position: relative;
}

// Hyphenation
@mixin hyphen {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

// Text Overflow
@mixin text-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@mixin container {
  padding: 0 em(14);
  margin: 0 auto;
  @media all and (min-width: em($template-tablet)) {
    padding: 0 em(40);
    max-width: em(1280);
  }
}
